# Node
node_modules/
.env

# React
build/
.DS_Store

docs/louage-html-template
docs/conv.txt
docs/BACKEND_API_REFERENCE.md
docs/React_Redux_Guide.markdown
docs/React_Redux_Guide.markdown:Zone.Identifier